# Dependances
node_modules/
package-lock.json

# Plateformes natives generees par `npx cap add ios` / `npx cap add android`
ios/
android/

# Build / outils
.DS_Store
*.log
.gradle/
build/

# Signature & secrets — NE JAMAIS COMMITER
*.keystore
*.jks
*.p12
*.mobileprovision
*.cer
key.properties
AuthKey_*.p8
.env
