name: Update Podcast
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 # Updated to v5
        with:
          python-version: '3.9'
          cache: 'pip' # Optional: Speeds up future runs

      - name: Install all dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yt-dlp feedgen requests
          sudo apt-get update && sudo apt-get install ffmpeg -y

      - name: Run podcast script
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          PYTHONPATH: ${{ github.workspace }} # Explicitly tell Python where to look
        run: python scripts/process_podcast.py
