name: Update Podcast
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies and Run
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: |
          # 1. Install everything in one go
          python -m pip install --upgrade pip
          pip install yt-dlp feedgen requests
          sudo apt-get update && sudo apt-get install ffmpeg -y
          
          # 2. Run the script immediately after
          python scripts/process_podcast.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "New podcast episode added" || echo "No changes to commit"
          git push
